@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-dark: #e2e8f0;
    --text-dark-hover: #000;
    --bg-dark: #0f131a;
    --border-dark: #2d3748;
    --shadow-theme-dark: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    --shadow-theme-light: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}